/* Custom Popup Styles */
.custom-popup .mapboxgl-popup-content {
    padding: 10px; /* Reduce padding */
    border-radius: 10px; /* Add rounded corners */
  }
  
.custom-popup .mapboxgl-popup-close-button {
  font-size: 20px; /* Increase size of the close button */
  line-height: 20px;
}

/* Style the building name */
.popup-building {
  margin: 0; /* Remove default margins */
  font-size: 16px; /* Adjust font size if needed */
}

/* Style the fountain list */
.popup-fountain-list {
  padding-left: 20px; /* Adjust padding */
  margin: 5px 0 0 0; /* Adjust margins */
}

/* Optional: Style list items */
.popup-fountain-list li {
  margin-bottom: 5px; /* Adjust spacing between list items */
  font-size: 14px; /* Adjust font size if needed */
}
